absl-py
astor
atari-py
backcall
baostock
cloudpickle
cycler
decorator
future
gast
google-pasta
grpcio
gym
h5py
ipython
ipython-genutils
jedi
joblib
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
opencv-python
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyglet
Pygments
pyparsing
python-dateutil
pytz
scipy
six
stable-baselines
tensorboard
tensorflow-estimator
tensorflow-macos; sys_platform == 'darwin' and platform_machine == 'arm64'
# tensorflow-gpu; sys_platform != 'darwin' and platform_machine != 'arm64'
tensorflow-metal
stable-baselines3
termcolor
traitlets
wcwidth
Werkzeug
wrapt
shimmy
dbutils
pymysql